<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
<link rel="stylesheet" href="./css/register.css">
</head>

<body>
    <div class="container">
        <form id="verify-form" action="/password-changed" method="post">
            <h2 class="title" style="margin-bottom: 10px;">Enter new Password</h2>
            <div class="input-field">
                <i class="uil uil-lock"></i>
                <input type="password" name="password" id="password" placeholder="New Password">
            </div>

            <input type="hidden" name="email" id="email" value="<%=email%>">

            <div class="input-field">
                <i class="uil uil-lock"></i>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password">
            </div>
            <div style="margin-top: 2px;">
                <input type="checkbox" onclick="myFunction()" style="font-size:12px;">
                <p style="display: inline-block;margin: 2px;opacity: 0.5;">Show password</p>
            </div>
            <input type="submit" value="Confirm" class="btn btn-primary">
        </form>
    </div>
    <script src="./js/register.js"></script>
</body>

</html>